body{
    min-height: 100vh;
    height: 100%;
    margin: 0;
    background-color: grey;
    font-family: Tungsten Rounded,sans-serif;
}
#frame .top, .right, .bottom, .left{
    z-index: 9999;
    position: fixed;
    background-color: #fff;
}
.top{
    height: 10px;
    top: 0;
    width: 100%;
}
.right{
    width: 10px;
    right: 0;
    height: 100%;
}
.bottom{
    height: 10px;
    bottom: 0;
    width: 100%;
}
.left{
    width: 10px;
    left: 0;
    height: 100%;
}
.page-loader{
    position: fixed;
    z-index: 9990;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: url(https://a.photo/images/2018/01/19/lucky.jpg);
    background-size: 100%;
}
.page-loader-disappear{
    opacity: 0;
    transition: all .8s ease;
    visibility: hidden;
}
.page-loader-content{
    max-width: 450px;
    width: 50%;
    text-align: center;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translateX(-50%);
}
.page-loader-content .logo,.detail{
    display: block;
    color: #fff;
}
.logo{
    font-size: 4rem;
    font-weight: 600;
    font-family: monospace, sans-serif;
}
.detail{
    font-size: 1.5rem;
    font-family: sans-serif;
}
.tip{
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 2rem;
    color: #fff;
    font-family: monospace, sans-serif;
}
.chapter-menu{
    z-index: 99;
    width: 85%;
    height: 8rem;
    max-width: 1440px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.chapter-menu-li-default{
    width: 25%;
    display: inline-block;
    text-align: center;
    position: relative;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity .8s ease;
}
.chapter-menu li:nth-child(2){
    left: 25%;
}
.chapter-menu li:nth-child(3){
    left: 50%;
}
.chapter-menu li:nth-child(4){
    left: 75%;
}
.chapter-menu-animation li{
    top: 4rem;
    opacity: 0;
    animation: animation-one 0.8s ease;
    animation-fill-mode: forwards;
}
.chapter-menu-animation li:nth-child(2){
    animation-delay: 0.4s;
}
.chapter-menu-animation li:nth-child(3){
    animation-delay: 0.8s;
}
.chapter-menu-animation li:nth-child(4){
    animation-delay: 1.2s;
}
.chapter-menu li a span{
    display: block;
    color: #fff;
}
.chapter-menu .chapter-link .chapter-title{
    font-size: 8rem;
    font-weight: 800;
    height: 8rem;
    overflow: hidden;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}
.chapter-title .num{
    float: left;
}
.chapter-title .num span{
    height: 8rem;
}
.chapter-menu .chapter-link .chapter-headline{
    font-size: 1rem;
    font-family: monospace, sans-serif;
}
.chapter-menu .separator-default{
    display: block;
    width: 1px;
    background-color: #fff;
    position: absolute;
    top: 50%;
    right: 0;
    opacity: 1;
    height: 80%;
    transform: translateY(-40%);
}
.chapter-menu .separator-animation{
    opacity: 0;
    height: 0;
    animation: animation-two .8s ease;
    animation-delay: 1.6s;
    animation-fill-mode: forwards;
}
.chapter-menu .separator-hidden{
    opacity: 0;
    height: 0;
    transition: all .8s ease;
}
.chapter-menu .separator-show{
    opacity: 1;
    height: 80%;
    transition: all .8s ease;
}
.chapter-menu-bg{
    height: 100%;
    z-index: 10;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-size: 100%;
    transition: opacity 2s ease;
    opacity: 0;
}
.bg-show{
    opacity: 1;
}
.bg-hidden{
    opacity: 0;
}
.chapter-menu-opacity-1{
    opacity: 1;
}
.chapter-page{
    background-size: 100%;
    transition: opacity 2s ease;
    visibility: hidden;
    opacity: 0;
}
.chapter-page-show{
    visibility: visible;
    opacity: 1;
    padding-top: 100vh;
}
.chapter-menu .chapter-redirect-animation{
    top: 50%;
    left: 50% !important;
    transform: translate(-50%, -50%);
    transition: all .8s ease;
    transition-delay: .8s;
}
.chapter-menu .hidden-for-page{
    visibility: hidden;
    opacity: 0;
    transform: translateY(4rem);
    transition: all .8s ease;
}
@keyframes animation-one {
    from {
        top: 4rem;
        opacity: 0;
    }
    to {
        top: 0;
        opacity: 1;
    }
}
@keyframes animation-two {
    from {
        height: 0;
        opacity: 0;
    }
    to {
        height: 80%;
        opacity: 1;
    }
}
@keyframes animation-three {
    from {
        
    }
    to {
        transform: scale(2);
    }
}